<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>anderthonnbatista.com</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>ebfd16b7-6d43-48bb-9966-c0a706adcccd</ProjectGuid>
    <publishUrl>ftp.anderthonnbatista.com</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>C:\Users\amelobat\OneDrive - NTT DATA EMEAL\Documentos\Publish_Alb</FtpSitePath>
    <UserName>anderthonnbatista</UserName>
    <_SavePWD>false</_SavePWD>
    <_TargetId>FTP</_TargetId>
  </PropertyGroup>
</Project>