@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="401">401</div>
        <p class="lead text-gray-800 mb-5">Você não está autorizado!</p>
        <a href="/admin/post">&larr; Voltar ao painel</a>
    </div>

</div>