@model ALB.BLOG.BLO.ViewModels.ResetPasswordVM

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container-fluid">
    <a class="btn mb-1" style="background-color: #00B8E4; color: white; padding: 0.5rem 1rem;" asp-action="Index" asp-controller="User"><i class="bi bi-arrow-return-left"></i></a>
    <div class="card">
        <div class="card-header" style="background-color: #00B8E4;">
            <h4 class="card-title text-white">Password Reset</h4>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id"/>
             <form asp-action="ResetPassword" asp-controller="User" asp-area="Admin">
                <div class="mb-2">
                    <label>Username</label>
                    <input type="text" asp-for="UserName" class="form-control" disabled/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>New Password</label>
                    <input type="password" asp-for="NewPassword" class="form-control"/>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Confirm Password</label>
                    <input type="password" asp-for="ConfirmPasswor" class="form-control" />
                    <span asp-validation-for="ConfirmPasswor" class="text-danger"></span>
                </div>
                
                <div class="mb-2">
                    <button type="submit" class="btn w-100" style="background-color: green; color: white;">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>

