* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: gray;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border: 3px solid gray;
}

.navbar-nav .nav-item .nav-link {
    font-weight: normal;
    font-size: 15px;
    color: white;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #00BAE4 !important;
}

nav.nav-alb {
    border-color: #00BAE4 !important;
}

img.img-log-alb {
    margin-right: 15px;
}

a.nav-a-alb {
    font-weight: normal !important;
    font-size: 0.95rem !important;
}

li.alb-item-nav {
    color: white;
}

li.alb-item-nav:hover {
    color: #00BAE4 !important;
}

button.alg-dropdown {
    width: 10%;
    height: 2%;
    border-radius: 5px
}

div.post-text-alb {
    color: white;
}

.col-md-6 .col-alb {
    padding-left: 5% !important;
    margin-left: -1.5% !important;
}

.smaller-input {
    width: 70%;
    height: 35px;
}

.btn-input {
    margin-left: 3%;
    height: 35px;
    display: flex;
    align-items: center;
}

a.alb-item-nav {
    color: white;
}

    a.alb-item-nav:hover {
        color: #00BAE4 !important;
    }

div.div-alb-form-post {
    width: 100%;
}

.btn-alb {
    background-color: #00BAE4 !important;
    color: white;
}

div.div-alb-post {
    width: 100%;
    margin: 0 auto;
}

h2.post-title {
    color: white !important;
}

h3.post-subtitle {
    color: white !important;
}

a.alb-item-nav {
    color: #eee;
}

hr.hr-alb {
    background-color: #00BAE4 !important;
}

a.page-number-alb {
    margin-bottom: -2rem;
}

.alb-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.caixa-esquerda, .caixa-direita {
    box-sizing: border-box;
    padding: 20px;
}

.caixa-esquerda {
    flex: 3;
}

.caixa-direita {
    flex: 2;
    background-image: url(../../../blog/assets/img/alg_retrato.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40% auto;
    margin-left: 20px;
}

.name_titulo h3 {
    color: #00b8e4;
    font-weight: bold;
}

.caixa-esquerda p {
    color: white;
}

div.div-contato {
    height: 325px;
}

div.informacoes-contato {
    position: relative;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

div.informacoes-contato h6 {
    color: white;
    text-align: center;
}

.informacoes-contato a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.informacoes-contato a:hover {
    color: #00BAE4;
}

.title {
    color: white;
}

.div-adm-alb {
    background-color: black;
}

.alb-nav-icon {
    color: #00B8E4 !important;
}

.div-alb-drop {
    background-color: #5A5C69;
}

.alb-drop-text {
    color: white !important;
}

.btn-back-alb {
    background-color: #00B8E4;
    color: white;
    padding: 0.5rem 1rem;
}

.card-alb-name {
    background-color: #00B8E4;
}

.btn-alb-page {
    background-color: green;
    color: white;
}

.card-alb-body {
    background-color: lightgray;
}

.alb-pag-post {
    margin-bottom: -2rem;
}

.footer-alb {
    font-size: 15px !important;
}